{% extends 'bootstrap/base.html' %}

{% block title %}Add A New Cafe{% endblock %}

{% block content %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <!-- This is where your WTForm will go -->
      <form action="{{ url_for('add_cafe') }}" method="POST">
        {{ form.csrf_token() }}
        <p>
          {{ form.cafe.label }} <br> <span style="color: black;">{{ form.cafe(size=90) }}</span>
        </p>
        <br>
        <p>
          {{ form.cafe_location.label }} <br> <span style="color: black;">{{ form.cafe_location(size=90) }}</span>
          {% for err in form.cafe_location.errors %}
          <span style="color: red;">{{ err }}</span>
          {% endfor %}
        </p>
        <br>
        <p>
          {{ form.open_time.label }} <br> <span style="color: black;">{{ form.open_time(size=90) }}</span>
        </p>
        <br>
        <p>
          {{ form.close_time.label }} <br> <span style="color: black;">{{ form.close_time(size=90) }}</span>
        </p>
        <br>
        <p>
          {{ form.cof_rate.label }} <br> <select style="color: black;" id="{{ form.cof_rate }}">
                                            {% for i in data1 %}
                                            <option value="{{ i.coffee }}">{{ i.coffee }}</option>
                                            {% endfor %}
          </select>
        </p>
        <br>
        <p>
          {{ form.wifi_rate.label }} <br> <select style="color: black;" id="{{ form.wifi_rate }}">
                                            {% for i in data2 %}
                                            <option value="{{ i.wifi }}">{{ i.wifi }}</option>
                                            {% endfor %} 
                                            </select>
        </p>
        <br>
        <p>
          {{ form.pow_rate.label  }} <br> <select style="color: black;" id="{{ form.pow_rate }}">
                                              {% for i in data3 %}
                                              <option value="{{ i.power }}">{{ i.power }}</option>
                                              {% endfor %} 
                                              </select>
        </p>
        <br>
        {{ form.submit }}
      </form> 

	  <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
